# Ambiente local
.env
.env.*
!.env.example

# Dependências
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
.terraform.tfstate.lock.info
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Credenciais e segredos
*.pem
*.key
*.crt

# Logs e arquivos locais
*.log
.DS_Store
.vscode/
.idea/
infra/creds.sh